html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #c8c8c8;
    --a-color: #cd0000;
}

/*noinspection ALL*/
body {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--text-color);
}


#sidebar {
    position: fixed;
    width: 200px;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px; /* 侧边栏的宽度加上间距 */
}
.container {
    display: flex;
    flex-direction: column;
}
.custom-hr {
    background-color: var(--text-color);
    height: 1px;
    width: 80%;
    margin: 10px 0;
    border: none;
    margin-left: 240px;
}

h1 {
    text-align: center;
    margin-left: -100px; /* 侧边栏的宽度加上间距 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--a-color);
}


