html {
    scroll-behavior: smooth;
}
:root {
    --text-color: #c8c8c8;
    --a-color: #cd0000;
}
body {
    display: flex;
    background-color: black;
    color: var(--text-color);
    margin: 0;
    height: 100vh;
}
#sidebar {
    margin: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
}
#listtitle{
    font-size: inherit;
    display: flex;
    align-items: center;
    width: 48px;
    height: 32px;
}
#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
#title{
    display: flex;
    /*height: 300px;*/
    justify-content: center;
}
.content {
    flex-grow: 1;
    flex: 1;
}
.custom-hr {
    background-color: var(--text-color);
    height: 1px;
    width: 100%;
}


ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}

a {
    text-decoration:none;
    color: var(--text-color);
}
a:hover {
    color: var(--a-color);
}

